/*
=============================================================

	RichStyle 3.2
	Copyright © 2006-2021 Mohammad Anas Ramadan
	https://richstyle.org
	anas@richstyle.org

-------------------------------------------------------------

	Licensed under Creative Commons License (by-nc-nd) 3.0:
	https://creativecommons.org/licenses/by-nc-nd/3.0/

=============================================================
*/

/*
===========================================================
		COLOR SCHEME
===========================================================
*/

:root {
	--header-bg:		#5c7099;
	--header-fg:		#fff;
	--ui-bg:		#e1e4f2;
	--ui-fg:		#5c7099;
	--content-bg:		#f0f0fa;		
	--content-fg:		#000;
	--header-in-content-bg:	#869bbf;
	--header-in-content-fg:	#fff;
	--metadata-fg:		#666;
	--contrast-color:	#e34f26;
}

/*
===========================================================
		FONT CALLS (Client-side/override)
===========================================================
*/

/*
	unicode-range: U+0600–06FF, U+0750–077F, U+FB50–FDFF, U+FE70–FEFF;
*/

@font-face {
	font-family: 'Cairo Light';
	src:	url('../fonts/Cairo/Cairo-Light.eot');
	src:	url('../fonts/Cairo/Cairo-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Cairo/Cairo-Light.woff') format('woff'),
		url('../fonts/Cairo/Cairo-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: optional;
}

@font-face {
	font-family: 'Cairo ExtraLight';
	src:	url('../fonts/Cairo/Cairo-ExtraLight.eot');
	src:	url('../fonts/Cairo/Cairo-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Cairo/Cairo-ExtraLight.woff') format('woff'),
		url('../fonts/Cairo/Cairo-ExtraLight.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Tajawal';
	src:	url('../fonts/Tajawal/Tajawal-Regular.woff') format('woff'),
		url('../fonts/Tajawal/Tajawal-Regular.ttf') format('truetype'),
		url('../fonts/Tajawal/Tajawal-Regular.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Tajawal Light';
	src:	url('../fonts/Tajawal/Tajawal-Light.eot');
	src:	url('../fonts/Tajawal/Tajawal-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Tajawal/Tajawal-Light.woff') format('woff'),
		url('../fonts/Tajawal/Tajawal-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Tajawal ExtraLight';
	src:	url('../fonts/Tajawal/Tajawal-ExtraLight.eot');
	src:	url('../fonts/Tajawal/Tajawal-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Tajawal/Tajawal-ExtraLight.woff') format('woff'),
		url('../fonts/Tajawal/Tajawal-ExtraLight.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu Arab 0.81 met';
	src:	local('Ubuntu Arab 0.81 met'),
		url('../fonts/Ubuntu/Ubuntu-R-Arabic.ttf') format('truetype');
}

@font-face {
	font-family: 'C-Monospace';
	src:	local('Thabit'),
		local('Ubuntu Mono'),
		local('Liberation Mono'),
		local('Courier New'),
		url('../fonts/Thabit/Thabit.ttf') format('truetype');
}

@font-face {
	font-family: 'C-Serif';
	src:	local('Amiri'),
		url('../fonts/Amiri/amiri-regular.ttf') format('truetype');
}

/*
===========================================================
			FONT FAMILIES
===========================================================
*/

* {
 /*	font-family: 'Cairo Light'; 'Ubuntu Arab 0.81 met' | 'Tajawal', but for now it's buggy :(
	font-size: 1.05rem; */
}

h1,
h1 *,
h2,
h2 *,
h3,
h3 *,
h4,
h4 *,
h5,
h5 * {
	font-family: 'Cairo Light';
}

/*
===========================================================
*/

body {
/*	background: url('texture.png') fixed; */
	margin: 0 !important;
}

body > header {
	background-color: #aaa !important;	/* #869bbf */
	padding: 75px 20px 10px;
	background-image: url(../../../brand/glacier-bay-bar.jpg) !important;
	background-position: 25% 65% !important;
	background-repeat: repeat !important;
}

Company_Info:before,
Program_Info:before,
Program_Descriptions:before,
Web_Info:before,
Permissions:before,
nav.toolbar,
nav.menu > nav > strong,
aside > nav > strong,
article header,
article > time,
body > footer,
item > title {
	background-image: url(data:image;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAQAAAD41K0JAAAAAXNSR0IArs4c6QAAAAJiS0dEAACqjSMyAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAEUlEQVQI12NgYGD4/5+BgQEACQAB//MQoH4AAAAASUVORK5CYIIA),url(data:image;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAQAAAD41K0JAAAAAXNSR0IArs4c6QAAAAJiS0dEAACqjSMyAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAEUlEQVQI12NgYGD4/5+BgQEACQAB//MQoH4AAAAASUVORK5CYIIA);
	background-repeat: repeat-x, repeat-x;
	background-position: top, bottom;
}

body > footer {
	background-position: top;
	border: none;
}

button,
button[type="submit"] {
	border: 1px solid #fff;
	outline: 1px solid #5c7099;
}

/*
	Unfortunately, box-shadow was disabled due to its negative influence to page performance under WebKit.

nav,
article,
body > footer,
menu ul {
	box-shadow: 2px 2px 5px #bbb;
}

*/

#advert article {
	min-height: 200px;
}

.rs-icons-c1 td:nth-child(1),
.rs-icons-c2 td:nth-child(2),
.rs-icons-c3 td:nth-child(3),
.rs-icons-c4 td:nth-child(4),
.rs-icons-c5 td:nth-child(5),
.rs-icons-c6 td:nth-child(6) {
	font: 24pt 'RichStyle';
	text-align: center;
}

.rs-icons-c1 th:last-child,
.rs-icons-c1 td:last-child {
	display: none;
}

/*

.rsIcons td:nth-child(1) {
	font: 24pt 'RichStyle';
	text-align: center;
}

.rsIcons th:nth-child(6),
.rsIcons td:nth-child(6),
.rsIcons th:last-child,
.rsIcons td:last-child {
	display: none;
}

*/


@page {
	font-family: 'Serif-Latn', 'Serif-Arab';
}

nav.menu a.active {
	color: white !important;
	background: #869bbf !important;
}

h1 small {
	font-family: inherit;
}

